@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Freelance.Core.Models.Proposal>

<div class="col-lg-9 col-md-9">
    <div class="row">

        @foreach (var proposal in Model)
        {
            <div class="col-md-6 col-lg-6">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="@Url.Content(proposal.Freelancer.PhotoPath)" style="width:229px; height: 100px" alt="">
                    </div>
                    <div style="margin-top: 5%;">
                        <button data-freelancer-id="@proposal.FreelancerId" data-post-id="@proposal.PostId" class="genric-btn danger js-reject">Reject</button>
                        <button data-freelancer-id="@proposal.FreelancerId" data-post-id="@proposal.PostId" class="genric-btn success js-accept">Accept</button>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="pagination_wrap">
                @Html.PagedListPager(Model, page => Url.Action("Posts", "Post", new { page }))
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-accept").click(function (e) {
                var link = $(e.target);

                $.post("/api/proposal/accept", { freelancerId: link.attr("data-freelancer-id"), postId: link.attr("data-post-id") })
                    .done(function () {
                        link.parents('div.col-md-6.col-lg-6').remove();
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });


            });

            $(".js-reject").click(function (e) {
                var link = $(e.target);

                $.ajax({
                    url: "/api/proposal/",
                    method: "DELETE",
                    data: { freelancerId: link.attr("data-freelancer-id"), postId: link.attr("data-post-id") }
                })
                    .done(function () {
                        link.parents('div.col-md-6.col-lg-6').remove();
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });


            });

        });
    </script>
}