@using Microsoft.AspNet.Identity;

@model Freelance.Core.ViewModels.PostFormViewModel

<div class="col-lg-9 col-md-9" style=" background: white;padding: 25px;">
    @using (Html.BeginForm("Edit", "Post", new { id = Model.Id }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <input type="hidden" name="@Html.NameFor(m => m.ClientId)" value="@User.Identity.GetUserId()">
        <div class="form-group">
            <label>Title</label>
            @Html.TextBoxFor(m => m.JobTitle, new { @class = "form-control", @placeholder = "Enter job title" })
            @Html.ValidationMessageFor(m => m.JobTitle)
        </div>
        <div class="form-group">
            <label>Job Type</label>
            @Html.DropDownListFor(m => m.JobType, new List<SelectListItem>
            {
                new SelectListItem { Text = "Fixed", Value = "1" },
                new SelectListItem { Text = "Hourly", Value = "2" }
            }, "Select Type", new { @class = "form-select" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.JobBudget)
            @Html.TextBoxFor(m => m.JobBudget, new { @class = "form-control", @placeholder = "Enter job description" })
            @Html.ValidationMessageFor(m => m.JobBudget)
        </div>
        <input type="hidden" name="@Html.NameFor(m => m.CreationDate)", value="@Model.CreationDate">
        <div class="form-group">
            @Html.LabelFor(m => m.JobDescription)
            @Html.TextAreaFor(m => m.JobDescription, new { @class = "form-control", @placeholder = "Enter job description" })
            @Html.ValidationMessageFor(m => m.JobDescription)

            @Html.HiddenFor(m => m.IsAccepted)
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    }
</div>