@using Microsoft.AspNet.Identity;
@using System.Linq;
@using PagedList.Mvc;

@model Freelance.Core.ViewModels.PostsViewModel

<div class="job_listing_area plus_padding" style="padding:0px; background-color:white;">
    <div class="container">
        @if (!User.IsInRole("Freelancer") && User.Identity.IsAuthenticated)
        {
            <div class="row" style="text-align: right;margin-bottom: 2%;">
                <div class="col-lg-12">
                    <a class="boxed-btn3" href="@Url.Action("Create", "Post")">Post Job</a>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-lg-12">
                <div class="job_filter white-bg">
                    <div class="form_inner white-bg">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="single_field">
                                        <input name="@Html.NameFor(m => m.SearchByTitle)" type="text" placeholder="Job Title">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="single_field">
                                        <input name="@Html.NameFor(m => m.SearchByDate)" type="Date" placeholder="Choose Date">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="single_field">
                                        <input name="@Html.NameFor(m => m.SearchByClientName)" type="text" placeholder="Client Name">
                                    </div>
                                </div>
                                <div class="reset_btn col-lg-3">
                                    @using (Html.BeginForm("Posts", "Post", new { query = "test" }, FormMethod.Get))
                                    {
                                        <button type="submit" class="genric-btn success">Search</button>
                                    }
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="job_lists m-0">
                    <div class="row">
                        @foreach (var post in Model.Posts)
                        {
                            <div class="col-lg-12 col-md-12">
                                <div class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="thumb" style="padding:0px;">
                                            <img src="@Url.Content(post.ClientPhotoPath)" style="width: 100px; height: 80px" alt="">
                                        </div>
                                        <div class="jobs_conetent" style="margin-left: 10px;">
                                            <a href="@Url.Action("Details", "Post", new { id = post.Id })"><h4>@post.JobTitle</h4></a>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <p><i class="fa fa-money"></i>@post.JobBudget</p>
                                                </div>
                                                <div class="location">
                                                    <p> <i class="fa fa-clock-o"></i>@(post.JobType == Freelance.Core.Enums.JobType.Fixed? "Fixed": "Hourly")</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (User.IsInRole("Freelancer"))
                                    {
                                        <div class="jobs_right">
                                            @if (Model.Proposals[post.Id].Any(p => p.FreelancerId == User.Identity.GetUserId() && p.IsAccepted))
                                            {
                                                <span class="label label-success">Accepted</span>
                                            }
                                            <div class="apply_now">
                                                <button data-freelancer-id="@User.Identity.GetUserId()" data-post-id="@post.Id" class="boxed-btn3 js-toggle-applying">@(Model.Proposals.Contains(post.Id) ? "Applied" : "Apply Now")</button>
                                            </div>
                                            <div class="date">
                                                <p>Date line: @post.CreationDate</p>
                                            </div>
                                        </div>
                                    }
                                    @if (User.IsInRole("Client") || User.IsInRole("Admin"))
                                    {
                                        <div class="jobs_right">
                                            <div class="apply_now">
                                                <button data-post-id="@post.Id" class="genric-btn danger js-delete-post">Delete</button>
                                                <a href="@Url.Action("Edit", "Post", new { id = post.Id })" class="genric-btn success">Edit</a>
                                            </div>
                                            <div class="date">
                                                <p>@post.CreationDate</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination_wrap">
                                @Html.PagedListPager(Model.Posts, page => Url.Action("Posts", "Post", new { page, SearchByTitle = Request.QueryString["SearchByTitle"], SearchByDate = Request.QueryString["SearchByDate"], SearchByClientName = Request.QueryString["SearchByClientName"] }))
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-applying").click(function (e) {
                var link = $(e.target);

                if (link.text() === "Apply Now") {
                    $.post("/api/proposal/apply", { freelancerId: link.attr("data-freelancer-id"), postId: link.attr("data-post-id") })
                        .done(function () {
                            console.log("POST");
                            link.text("Applied");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                }

                else {
                    $.ajax({
                        url: "/api/proposal",
                        method: "DELETE",
                        data: { freelancerId: link.attr("data-freelancer-id"), postId: link.attr("data-post-id") },
                    })
                        .done(function () {
                            console.log("DELETE");
                            link.text("Apply Now");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                }
            });

            $(".js-delete-post").click(function (e) {
                var link = $(e.target);

                e.preventDefault();

                bootbox.dialog({
                    title: 'Confirm',
                    message: '<p>Are you sure you want to delete this post?</p>',
                    size: 'large',
                    onEscape: true,
                    backdrop: false,
                    buttons: {
                        no: {
                            label: 'No',
                            className: 'btn-default',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: 'Yes',
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: "/api/post/" + link.attr("data-post-id"),
                                    method: "DELETE"
                                })
                                    .done(function () {
                                        link.parents("div.col-lg-12.col-md-12").remove();
                                    })
                                    .fail(function () {
                                        alert("Something failed!");
                                    });
                            }
                        }
                    }
                });
            });
        });
    </script>
}