@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Freelance.Core.ViewModels.PostRequestViewModel>

<div class="job_listing_area plus_padding" style="margin-top: 5%">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="job_lists m-0">
                    <div class="row">
                        @foreach (var post in Model)
                        {
                            <div class="col-lg-12 col-md-12">
                                <div class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="thumb" style="padding:0px;">
                                            <img src="@Url.Content(@post.ClientPhotoPath)" style="width: 100px; height: 80px" alt="">
                                        </div>
                                        <div class="jobs_conetent">
                                            <a href="@Url.Action("Details", "Post", new { id = post.Id })"><h4>@post.JobTitle</h4></a>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <p><i class="fa fa-money-bill-wave"></i>@post.JobBudget</p>
                                                </div>
                                                <div class="location">
                                                    <p> <i class="fa fa-clock-o"></i>@(post.JobType == Freelance.Core.Enums.JobType.Fixed? "Fixed": "Hourly")</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs_right">
                                        <div class="apply_now">
                                            <button data-post-id="@post.Id" class="genric-btn danger js-reject">Reject</button>
                                            <button data-post-id="@post.Id" class="genric-btn success js-accept">Accept</button>
                                        </div>
                                        <div class="date">
                                            <p>Date line: @post.CreationDate</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination_wrap">
                                @Html.PagedListPager(Model, page => Url.Action("PostsRequests", "Post", new { page }))
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-accept").click(function (e) {
                var link = $(e.target);

                $.post("/api/post", { postId: link.attr("data-post-id") })
                    .done(function () {
                        link.parents('div.col-lg-12.col-md-12').remove();
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });


            });

            $(".js-reject").click(function (e) {
                var link = $(e.target);

                $.ajax({
                    url: "/api/post/" + link.attr("data-post-id"),
                    method: "DELETE"
                })
                    .done(function () {
                        link.parents('div.col-lg-12.col-md-12').remove();
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });
        });
    </script>
}